@import "variables";

.title {
  padding-top: 2rem;
  justify-content: flex-end;

  &__project {
    color: var(--theme-color);
  }
}

.image-aside {
  position: relative;

  img {
    position: absolute;
    border-radius: 8px;
    top: 0;
    right: 0;
    height: 100%;

    cursor: pointer;
  }

  @media screen and (max-width: 576px) {
    width: 100%;
    padding-top: 66.7%;
    margin-top: 2rem;
  }
}

.nav-dots {
  flex: 1;
  display: flex;
  align-items: center;

  ul {
    margin: 0;
    padding: 0;

    display: flex;
    li {
      list-style: none;

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 8px;
        width: 16px;
        height: 16px;
        cursor: pointer;

        &::after {
          content: "";
          width: 8px;
          height: 8px;
          background: var(--theme-color);
          border-radius: 50%;
          transition: all .25s;
        }
      }

      a.active {
        &::after{
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}
